body{
  background-color: skyblue;
}
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 30px;
}

form {
  margin: 20px;
}

input {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: lightgreen;
  color: white;
  border-radius: 4px;
}

.weather-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.weather-card {
  background: #f0f0f0;
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
